<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<div class="container">
<header>
        <div id="top-element">
            <a href="/"><h1 id="headerTitle">Int Elligence(5);</h1></a>
            <br>
            <form action="/forecast" method="POST">
                <div>
                    <input type="search" id="mySearch" name="name"
                           placeholder="Search for your city" required>
                    <button id="searchBtn">Search</button>
                    <span class="validity"></span>
                </div>
            </form>
        </div>
    <div id="main-element">
        <h4 style="opacity: 0.5">WEATHERCAST FOR TOMORROW:</h4>
        <br>
        <h1 class ="today" >{{.City.Name}}</h1>
          {{ with $day := index .List 1}}
              <h2>{{ printf "%.0f" $day.Main.Celsius }} ºC</h2><h4 id="currentDate" style="opacity: 0.5">{{ $day.DtTxt }}</h4>
                 {{with $weatherStruct := index .Weather 0}}
                     <div id="pic">
                          <img src='http://openweathermap.org/img/w/{{$weatherStruct.Icon}}.png' style="width: 200px;" id="currentIcon">
                     </div>
                 {{end}}
          {{end}}
    </div>
</header>
<body>
<th><h1 class = "location">{{.City.Name}}, {{.City.Country}}</h1></th>
<table class = "mainTable">
    <tr class ="titles">
        <th>Time</th>
        <th>Temperature</th>
        <th>Forecast</th>
        <th>Illustration</th>
        <th>Wind</th>
        <th>Comment</th>
    </tr>
    {{range .List}}
    <tr>
         <td align="right"> {{ .DtTxt }}</td>
         <td>{{printf "%.0f" .Main.Celsius}} ºC / {{printf "%.0f" .Main.Temp}} ºF</td>
        {{range .Weather}}
          <td class="des">{{ .Description }}</td>
          <td><img src = 'http://openweathermap.org/img/w/{{.Icon}}.png'></td>
        {{end}}
        <td>{{printf "%.1f" .Wind.Speed}} m/s</td>
        <td>{{ .Main.Comment }}</td>
    {{end}}
    </tr>
</table>
<br>
</body>
</div>
<footer>
    <br>
    <br>
    This project is made available under the Open Database License:
    http://opendatacommons.org/licenses/odbl/1.0/.
    <br>
    Any rights in individual contents of the database are
    licensed under the Database Contents License: http://opendatacommons.org/licenses/dbcl/1.0/
</footer>
</html>